<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>这是注册页面</p>
    <form action="http://localhost:8080/toRegiset/regisetUser">
        <div>
            <label for="username">用户名:</label>
            <input type="text" class="username">
        </div>
        <div>
            <label for="passwords">密码:</label>
            <input type="text" class="passwords">
        </div>
        <input type="submit" value="注册">
    </form>
</body>
</html>